#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: white !important;
}

a:hover {
  color: #0ea5e9 !important;
}
html {
  background-color: white !important;
}

#editor {
  margin-top: 20px;
  margin-right: 20px;
  min-height: 50vh;
  margin-bottom: 20px;
}

#preview {
  margin-top: 20px;
  min-height: 50vh;
  margin-bottom: 20px;
}

.card {
  padding: 2em;
}
